
body {
  --scroll-bar-color: rgba(17, 0, 112, 0.774);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media (max-width:576px){
  }
  @media (min-width:576px) and (max-width:992px)  {
  }
  
  backdrop-filter: blur(2rem);
  background-image: url('https://res.cloudinary.com/dtdhmbtcg/image/upload/v1712507659/5bd334f8d938f-wallpaper-preview_t0jcpl.jpg');
  background-size: cover;
  height: 110vh;
  overflow-x: hidden;


}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--scroll-bar-color);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  outline: 1px solid var(--scroll-bar-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
